<section id="header">
        <div id="logo">
            <a href="#"><img src="/images/logo.jpg" id="logopic" alt="brand logo"></a>
            <h4>E-Dairy</h4>
        </div>

        <div id="nav">
            <ul id="navbar">
                <li><a href="/index_admin" class="active">Home</a></li>
                <li><a href="/admin_dash">Admin Panel</a></li>
                <li><a href="/login_admin"><img src="/images/account.png"></a></li>
            </ul>
        </div>
    </section>
<h1 id="top-heading">Admin Panel</h1>
<section id="admin-panel">
  <div class="ad_nav">
    <ul class="ad_ul">
      <li class="ad_category"><a class="category_link" href="/admin_dash">Dashboard</a></li>
      <li class="ad_category"><a class="category_link">Product Management</a></li>
      <ul id="product-option">
        <li><a class="action" href="/add_category">Add category</a></li>
        <li><a class="action" href="/add_product">Add product</a></li>
      </ul>
      <li class="ad_category"><a class="category_link" href="#analytics">Analytics</a></li>
    </ul>
  </div>
</section>