<section id="header">
        <div id="logo">
            <a href="#"><img src="/images/logo.jpg" id="logopic" alt="brand logo"></a>
            <h4>E-Dairy</h4>
        </div>

        <div id="search">
            <form action="/search" id="form" method="get">
                <input id="searchbox" onclick="showsearch_icon()" type="text" placeholder="Search your item"
                    name="search">
                <button id="btn" type="submit"><img src="/images/search.png"></button>
            </form>
        </div>

        <div id="nav">
            <ul id="navbar">
                <li><a href="/cart"><img src="/images/cart.png"></a></li>
                <li><a href="/index" class="active">Home</a></li>
                <li><a href="/shop">Shop</a></li>
                <li><a href="/Aboutus">About Us</a></li>
                <li><a href="/contactus">Contact Us</a></li>
                <li><a href="/login"><img src="/images/account.png"></a></li>
            </ul>
        </div>
    </section>