<!DOCTYPE html>
<html>

<head>
  <title>E-Dairy Admin Dashboard</title>
  <link rel="stylesheet" type="text/css" href="/css/admin_dash.css">
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>
  {{>admin_navbar}}
</body>

</html>