<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Admin Signup</title>
   <link rel="stylesheet" href="/css/signup.css">
</head>

<body>
   <div class="container">
      <div id="sign-card">
         <h2 class="card-title">Admin Sign Up</h2>
         <div class="card-body">
            <form id="sign-form" action="/admin_signup" method="post">
               <div class="form-group">
                  <input type="text" class="form-control" id="name" placeholder="Name" name="admin_name">
               </div>
               <div class="form-group">
                  <label id="select" for="location-name">Select location:</label>
                  <select name="location" class="form-control">
                     <option value="">Select District</option>
                     <option value="achham">Achham</option>
                     <option value="arghakhanchi">Arghakhanchi</option>
                     <option value="baglung">Baglung</option>
                     <option value="baitadi">Baitadi</option>
                     <option value="bajhang">Bajhang</option>
                     <option value="bajura">Bajura</option>
                     <option value="banke">Banke</option>
                     <option value="bara">Bara</option>
                     <option value="bardiya">Bardiya</option>
                     <option value="bhaktapur">Bhaktapur</option>
                     <option value="bhojpur">Bhojpur</option>
                     <option value="chitwan">Chitwan</option>
                     <option value="kapilvastu">Kapilvastu</option>
                     <option value="kaski">Kaski</option>
                     <option value="kathmandu">Kathmandu</option>
                     <option value="lalitpur">Lalitpur</option>
                     <option value="lamjung">Lamjung</option>
                     <option value="mahottari">Mahottari</option>
                     <option value="makwanpur">Makwanpur</option>
                     <option value="nawalparasi">Nawalpur</option>
                     <option value="rupandehi">Rupandehi</option>
                     <option value="tanahu">Tanahu</option>
                     <option value="taplejung">Taplejung</option>
                     <option value="sindhupalchok">Sindhupalchok</option>
                     <option value="siraha">Siraha</option>
                     <option value="solukhumbu">Solukhumbu</option>
                     <option value="sunsari">Sunsari</option>
                     <option value="surkhet">Surkhet</option>
                     <option value="syangja">Syangja</option>
                     <option value="other">Other</option>
                  </select>

               </div>
               <div class="form-group">
                  <input type="text" class="form-control" id="phone" placeholder="Phone Number" name="admin_phone_num">
               </div>
               <div class="form-group">
                  <input type="email" class="form-control" id="sign-email" placeholder="Email" name="admin_email">
               </div>
               <div class="form-group">
                  <input type="password" class="form-control" id="sign-password" placeholder="Password"
                     name="admin_password">
               </div>
               <div class="submit-box">
                  <button class="btn">Create Account</button>
               </div>
            </form>
         </div>
      </div>
   </div>
</body>

</html>